# This workflow exists solely to send the current code coverage of the `main` branch to Codecov. This is used
# both for the README badge and for the codecov bot's comment on PRs.

name: Main

on:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  NODE_VERSION: 22.17.1

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.3.1

      - name: Configure node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install packages
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Run unit tests
        run: npm run test:ci

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.4.3
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
